@model PendientesProveedores.Models.Local_Pendientes_Proveedores

@{
    ViewBag.Title = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Pendientes", FormMethod.Post, new { @id = "msform" })) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-center">Actualize una factura existente</h4>
        <hr />
        @Html.HiddenFor(model => model.Pendiente_proveedor_id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.LabelFor(model => model.FECHA, "Fecha", htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.formatoFecha, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            @Html.ValidationMessageFor(model => model.FECHA, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.UTILITY_ID, "Proveedor", htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => Model.proveedorSeleccionado, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
            @Html.ValidationMessageFor(model => model.UTILITY_ID, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.PENDIENTE_PAGO, "Pendiente de Pago", htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.PENDIENTE_PAGO, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.PENDIENTE_PAGO, "", new { @class = "text-danger col-md-12" })
        </div>

        @Html.LabelFor(model => model.PENDIENTE_COBRO, "Pendiente de Cobro", htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.PENDIENTE_COBRO, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.PENDIENTE_COBRO, "", new { @class = "text-danger col-md-12" })
        </div>

        @Html.LabelFor(model => model.ESTADO, "Estado", htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.ESTADO, new List<SelectListItem>
                                     { new SelectListItem { Text = "PAGADO", Value = "PAGADO", Selected=true},
                                       new SelectListItem { Text = "NO PAGADO", Value = "NO PAGADO"}
                                       })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-6 col-md-6">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al Resumen", "Index")
</div>
