@model IEnumerable<PendientesProveedores.Models.Local_Pendientes_Proveedores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>FECHA</th>
        <th>PROVEEDOR</th>
        <th>PENDIENTE COBRO</th>
        <th>PENDIENTE PAGO</th>
        <th>ESTADO</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.FECHA</td>
        <td>@item.proveedorSeleccionado</td>
        <td>@item.PENDIENTE_COBRO</td>
        <td>@item.PENDIENTE_PAGO</td>
        <td>@item.ESTADO</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = @item.Pendiente_proveedor_id }) |
            @*@Html.ActionLink("Details", "Details", new { id = @item.Pendiente_proveedor_id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = @item.Pendiente_proveedor_id })
        </td>
    </tr>
}

</table>
